<!-- Footer -->


<footer id="footer">
    <div class="wrapper-enclosure">
        <div class="footer-main">
            <div class="about us">
                <h1 class="footer-heading">About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor</p>
                <address>
                    <h4 class="footer-heading">Address</h4>
                    <p>4433 E Garland Avenue CA, <br> Fresno 93726</p>
                    <i class="cta-icon fas fa-envelope-square"></i><a class="cta-link"
                        href="mailto:gracepups4@gmail.com">gracepups4@gmail.com</a>
                    <p><i class="cta-icon fas fa-phone-square-alt"></i>+14156345213</p>
                </address>
            </div>
            <div class="contact-form">
                <h1 class="footer-heading">Contact Us</h1>
                <!-- <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p> -->

                <form class="footer-form">
                    <input type="email" placeholder="Your e-mail" id="email" name="email" class="footer-input">
                    <input type="text" placeholder="Subject" id="subject" name="subject" class="footer-input">
                    <textarea cols="5" rows="5" placeholder="Message" id="message" name="text"
                        class="footer-input"></textarea>
                    <button type="submit" class="contact-btn footer-btn" name="list">Submit</button>
                </form>

            </div>
            <div class="payment">
                <h1 class="footer-heading">Payment Options</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor</p>
            </div>
            <div class="shipping">
                <h1 class="footer-heading">Our shipping policy</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor</p>
            </div>

        </div>
        <hr class="footer-rule">
        <div>
            <p class="copyright">© Copyright <span class="year"></span>. All Rights Reserved. <a
                    class="navbrand-footer footer-heading last-link" href="/">St. Bpups</a></p>
        </div>
    </div>




</footer>


<!-- embla -->
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
 <!-- embla embla-carousel-autoplay cdn -->
 <script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js" type="module"></script>
<script src="/embla.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/validate.js" charset="UTF-8"></script>
<script src="/index.js" charset="UTF-8"></script>
</body>

</html>