<!-- Footer -->


<footer id="footer">
    <div class="wrapper-enclosure">
        <div class="footer-main">
            <div class="email-phone">
                <address>
                    <i class="cta-icon fas fa-envelope-square"></i><a class="cta-link"
                        href="mailto:gracepups4@gmail.com">saintbenardpuppies@gmail.com</a>
                    <p><i class="cta-icon fas fa-phone-square-alt"></i>+(909) 351-0099</p>
                </address>
            </div>
            <div class="footer-logo">
                <img src="/images/stBpups.png" alt="logo">
            </div>
            <div class="payment-methods">
                <h3>Social Media</h3>
                <a href="https://api.whatsapp.com/send?phone=+61881214373"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <hr class="footer-rule">
        <div>
            <p class="copyright">© Copyright <span class="year"></span>. All Rights Reserved. <a
                    class="navbrand-footer footer-heading last-link" href="/">St. Benard puppies</a></p>
        </div>
    </div>




</footer>


<!-- embla -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="/embla.js"></script>
<script src="/validate.js" charset="UTF-8"></script>
<script src="/index.js" charset="UTF-8"></script>
</body>

</html>