<section class="customer-review">
    <div class="review-header">
      <h1>What our clients say about us</h1>
    </div>
    <div class="review-center">
      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner review-inner">
          <div class="carousel-item testimonial-inner active">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</h2>
            <img class="testimonial-image" src="../images/testimonial2.jpg" alt="dog-profile">
            <em>Pebbles, New York</em>
          </div>
          <div class="carousel-item testimonial-inner">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</h2>
            <img class="testimonial-image" src="../images/puppy0.jpg" alt="lady-profile">
            <em>Beverly, Illinois</em>
          </div>
          <div class="carousel-item testimonial-inner">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</h2>
            <img class="testimonial-image" src="../images/testimonial3.jpg" alt="lady-profile">
            <em>Beverly, Illinois</em>
          </div>
          <div class="carousel-item testimonial-inner">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</h2>
            <img class="testimonial-image" src="../images/testimonial4.jpg" alt="lady-profile">
            <em>Beverly, Illinois</em>
          </div>
          <div class="carousel-item testimonial-inner">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</h2>
            <img class="testimonial-image" src="../images/testimonial5.jpg" alt="lady-profile">
            <em>Beverly, Illinois</em>
          </div>
          <div class="carousel-item testimonial-inner">
            <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</h2>
            <img class="testimonial-image" src="../images/testimonial6.jpg" alt="lady-profile">
            <em>Carley, Miniapolis</em>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        
      </div>
    </div>
  </section>
  