<%- include("partials/header") %>
<section id="about-header">
  <div class="wrapper-enclosure">
    <div class="header-center">
      <h4>
        in need of a beautiful puppy <br />
        to make life at home even happier? <br />
        we are here to grant you your wish!
      </h4>
      <a href="/" class="find-btn" role="button"><i class="paw fas fa-paw"></i>find a puppy<i
          class="paw fas fa-paw"></i></a>
    </div>
  </div>

</section>
<section>
  <div id="main-container">
    <div class="inner-container">
      <h1 class="about-text">About Us</h1>
      <div class="rule-container">
        <hr class="about-rule" />
      </div>
      <div class="conatiner-grid" style="width: 100%;">
        <div class="info-left">
          <div class="banner"></div>
          <div class="banner-text">
            <h2>At St. Benard puppies, we offer you the best!</h2>
          </div>
        </div>
        <div class="form-container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor
          </p>
        </div>
      </div>
      <div class="services">
        <div class="clientelle">
          <i class="icon fas fa-bullseye fa-2x"></i>
          <h4>Elite Clientelle</h4>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo
          </p>
        </div>
        <div class="shipping">
          <i class="icon fas fa-shipping-fast fa-2x"></i>
          <h4>Reliable shipping Policy</h4>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo
          </p>
        </div>
        <div class="puppy-health">
          <i class="icon fas fa-dog fa-2x"></i>
          <h4>Healthy Puppy</h4>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="about-center">
        <div class="about-text">
            <hr class="section-rule about-rule">
            <h2 class="section-title">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            </p>
        </div>
        <div class="about-img">
            <img src="../images/puppy.about.jpg" alt="puppy-img">
        </div>
    </div> -->
</section>

<!--customer review-->
<%- include("partials/reviews") %> <%- include("partials/footer") %>